<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>심박수</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>심박수</h1>
    
    <label for="group">filter</label>
    <select id="group">
        <option value="1day">1일</option>
        <option value="1week">1주</option>
        <option value="1month">1개월</option>
        <option value="1year">1년</option>
    </select>
    <button id="filterButton">적용</button>

    <canvas id="dataCountChart"></canvas>
        
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('dataCountChart').getContext('2d'); 
            
            const dateLabels = {{date_labels|safe}}
            const dataCounts = {{data_counts|safe}}

            const dataCountChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dateLabels,
                    datasets: [{
                        label: '뉴스 데이터 수',
                        data: dataCounts,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        fill: true,
                        tension: 0.6
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: '날짜'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: '데이터 수'
                            },
                            beginAtZero: true
                        }
                    }
                }});
        });

    </script>


</body>
</html>
