<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 모아보기</title>
</head>
<body>
    <table id="news-list">
        <thead>
            <tr>
                <th>날짜</th>
                <th>제목</th>
                <th>언론사</th>
            </tr>
        </thead>
        <tbody>
            <!-- 뉴스 데이터가 이곳에 추가됩니다 -->
        </tbody>
    </table>
    <div id="scroll-sentinel" style="height: 1px;"></div>

    <script src="../../static/js/newslist.js" defer></script> <!-- JavaScript 파일 추가 -->
</body>
</html>
